In [37]:
# Por ahora, se corre solamente "Configuraciones generales" y "Ajustes por inflación".

## A. Configuraciones generales.

In [1]:
#1. Librerías.
%run "../librerias.ipynb"

Matplotlib is building the font cache; this may take a moment.

/home/gmasi/.venv/lib/python3.12/site-packages/dask/dataframe/__init__.py:42: FutureWarning:
Dask dataframe query planning is disabled because dask-expr is not installed.

You can install it with `pip install dask[dataframe]` or `conda install dask`.
This will raise in a future version.

  warnings.warn(msg, FutureWarning)
/home/gmasi/.venv/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [17]:
#2. Constantes.
%run "../constantes.ipynb"

mes_train = mes_train_all_menos_1 + mes_validation
mes_test = mes_test
dataset_output = dataset_file_preprocesado_all_3

In [18]:
#3. Funciones.
%run "../funciones.ipynb"

In [19]:
#4. Lectura de datos.
data = pd.read_csv(dataset_file_clase_ternaria)

## B. Data Quality.

#### 1. Valores nulos.

In [20]:
data

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria
0,827481825,201901,1,0,1,59,122,4966.01,29873.28,3261.62,...,1.0,0.0,-72907.94,0.0,3699.0,22205.05,18.0,0.0,1395.87,NaN
1,827481825,201902,1,0,1,59,123,4021.71,31994.57,3096.35,...,1.0,0.0,-28385.46,0.0,3727.0,15681.95,14.0,0.0,1161.27,CONTINUA
2,827481825,201903,1,0,1,59,124,3814.58,34126.66,2823.82,...,4.0,0.0,-22308.09,0.0,3758.0,15784.94,17.0,0.0,1266.84,CONTINUA
3,827481825,201904,1,0,1,59,125,3899.62,34979.09,2680.77,...,-1.0,0.0,-24958.37,0.0,3788.0,25070.10,21.0,0.0,1161.27,CONTINUA
4,827481825,201905,1,0,1,59,126,0.00,0.00,0.00,...,2.0,0.0,-29251.75,0.0,3819.0,23111.41,16.0,0.0,1043.97,CONTINUA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4735588,988635466,201910,1,0,1,33,88,0.00,0.00,0.00,...,1.0,0.0,NaN,NaN,2172.0,NaN,NaN,NaN,0.00,CONTINUA
4735589,988635466,201911,1,0,0,33,89,1807.89,13147.18,1275.61,...,3.0,0.0,NaN,NaN,2202.0,NaN,NaN,NaN,0.00,CONTINUA
4735590,988635466,201912,1,0,0,33,90,1278.44,14231.68,1182.72,...,6.0,0.0,NaN,NaN,2233.0,NaN,NaN,NaN,0.00,CONTINUA
4735591,988635466,202001,1,0,0,33,91,1687.66,15042.31,1527.12,...,2.0,0.0,NaN,NaN,2264.0,NaN,NaN,NaN,0.00,BAJA+2
4735592,988635466,202002,1,0,0,33,92,1613.36,15667.54,1360.16,...,3.0,0.0,NaN,NaN,2293.0,NaN,NaN,NaN,0.00,BAJA+1

In [21]:
data['foto_mes'].value_counts()

foto_mes
202108    165442
202107    165152
202106    164876
202105    164623
202104    164090
202103    163685
202102    162646
202101    162026
202012    161526
202011    160742
202010    159731
202009    158371
202008    157058
202007    155764
202006    153757
202005    151261
202004    149872
202003    149356
202002    147109
202001    143966
201912    140661
201911    138667
201910    136682
201909    134314
201908    132664
201907    130724
201906    129186
201905    127659
201904    126996
201903    126436
201902    125799
201901    124752
Name: count, dtype: int64

In [22]:
#a. Evaluamos.
train_data = data[data['foto_mes'].isin(mes_train)]
score_data = data[data['foto_mes'] == mes_test]

train_null_percentage = train_data.isnull().mean() * 100
score_null_percentage = score_data.isnull().mean() * 100

comparison_df = pd.DataFrame({'Train Null Percentage': train_null_percentage, 'Score Null Percentage': score_null_percentage})
comparison_df['diff'] = (comparison_df['Score Null Percentage'] - comparison_df['Train Null Percentage']).abs()

comparison_df_sorted = comparison_df.sort_values('diff', ascending=False)

comparison_df_sorted

,Train Null Percentage,Score Null Percentage,diff
clase_ternaria,0.000000,100.000000,100.000000
tmobile_app,14.860731,0.000000,14.860731
cmobile_app_trx,14.860731,0.000000,14.860731
Master_mconsumototal,60.340490,58.356403,1.984087
Master_cconsumos,60.340490,58.356403,1.984087
...,...,...,...
ctarjeta_visa_debitos_automaticos,0.000000,0.000000,0.000000
mttarjeta_visa_debitos_automaticos,0.000000,0.000000,0.000000
ctarjeta_master_debitos_automaticos,0.000000,0.000000,0.000000
mttarjeta_master_debitos_automaticos,0.000000,0.000000,0.000000
mpayroll,0.000000,0.000000,0.000000

#### 2. Valores 0.

In [23]:
#a. Evaluamos.
train_zero_percentage = (train_data == 0).mean() * 100
score_zero_percentage = (score_data == 0).mean() * 100

comparison_df_zero = pd.DataFrame({'Train Zero Percentage': train_zero_percentage, 'Score Zero Percentage': score_zero_percentage})

comparison_df_zero['diff_zero_percentage'] = (comparison_df_zero['Score Zero Percentage'] - comparison_df_zero['Train Zero Percentage']).abs()
diff_zero_percentage_sorted = comparison_df_zero.sort_values('diff_zero_percentage',ascending=False)

In [24]:
diff_zero_percentage_sorted[(diff_zero_percentage_sorted["diff_zero_percentage"] > 5)]

,Train Zero Percentage,Score Zero Percentage,diff_zero_percentage
internet,42.191444,96.764425,54.572981
tmobile_app,56.203999,97.435355,41.231356
mtransferencias_recibidas,39.125733,23.316328,15.809404
ctransferencias_recibidas,39.125733,23.316328,15.809404
chomebanking_transacciones,29.086639,15.439248,13.647392
Visa_mconsumosdolares,49.004508,62.364454,13.359946
mtransferencias_emitidas,49.813691,37.012971,12.800719
ctransferencias_emitidas,49.732480,37.012971,12.719509
cmobile_app_trx,33.569441,20.980767,12.588675
Visa_mpagado,79.984006,69.013914,10.970091
mactivos_margen,14.061525,3.901065,10.160460
mrentabilidad,10.014048,0.146275,9.867773
mrentabilidad_annual,9.978630,0.132977,9.845653
mpasivos_margen,10.960279,1.140581,9.819698
mcomisiones,12.405242,2.960554,9.444688
mcomisiones_otras,12.396060,2.960554,9.435506
ccomisiones_otras,12.392346,2.958136,9.434209
cforex,83.494504,91.993569,8.499065
ccajas_transacciones,82.470614,90.438945,7.968331
mautoservicio,35.875056,28.139167,7.735889
ctarjeta_debito_transacciones,35.874028,28.139167,7.734861
Visa_fultimo_cierre,7.191991,0.000000,7.191991
Master_fultimo_cierre,7.092324,0.000000,7.092324
mforex_sell,85.367083,92.252874,6.885791
cforex_sell,85.367083,92.252874,6.885791
ccajas_extracciones,88.846461,94.315228,5.468767
cprestamos_personales,73.982506,79.393987,5.411481
mprestamos_personales,73.982506,79.393987,5.411481
tcallcenter,87.434277,92.771485,5.337208
ccallcenter_transacciones,87.434277,92.771485,5.337208

In [25]:
#b. Decidimos eliminar aquellas columnas con un gran cambio en la cantidad de 0 en el mes test.
cols_eliminar = list(diff_zero_percentage_sorted[(diff_zero_percentage_sorted["diff_zero_percentage"] > 5) & (diff_zero_percentage_sorted["Score Zero Percentage"] > diff_zero_percentage_sorted["Train Zero Percentage"])].index)
data.drop(cols_eliminar,axis=1,inplace=True)

train_data.drop(cols_eliminar,axis=1,inplace=True)
score_data.drop(cols_eliminar,axis=1,inplace=True)

/tmp/ipykernel_4333/277921246.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data.drop(cols_eliminar,axis=1,inplace=True)
/tmp/ipykernel_4333/277921246.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  score_data.drop(cols_eliminar,axis=1,inplace=True)

#### 3. Valores <0.

In [26]:
#a. Evaluamos.
train_negative_percentage = (train_data == -1).mean() * 100
score_negative_percentage = (score_data == -1).mean() * 100

comparison_df_zero = pd.DataFrame({'Train Negative Percentage': train_negative_percentage, 'Score Negative Percentage': score_negative_percentage})

comparison_df_zero['diff_negative_percentage'] = (comparison_df_zero['Score Negative Percentage'] - comparison_df_zero['Train Negative Percentage']).abs()
diff_negative_percentage_sorted = comparison_df_zero.sort_values('diff_negative_percentage',ascending=False)

diff_negative_percentage_sorted

,Train Negative Percentage,Score Negative Percentage,diff_negative_percentage
Visa_fultimo_cierre,4.417596,0.000000,4.417596
Master_fultimo_cierre,4.291388,0.000000,4.291388
Master_Finiciomora,0.001028,0.000000,0.001028
mcuenta_corriente,0.001822,0.001209,0.000613
mactivos_margen,0.001752,0.001209,0.000543
...,...,...,...
mttarjeta_visa_debitos_automaticos,0.000000,0.000000,0.000000
ctarjeta_master_debitos_automaticos,0.000000,0.000000,0.000000
mttarjeta_master_debitos_automaticos,0.000000,0.000000,0.000000
cpagodeservicios,0.000000,0.000000,0.000000
mpayroll2,0.000000,0.000000,0.000000

#### 4. Valores duplicados.

In [27]:
#a. Verifico.
print("Train tiene {} valores duplicados".format(train_data.duplicated().sum()))
print("Test tiene {} valores duplicados".format(score_data.duplicated().sum()))

Train tiene 0 valores duplicados
Test tiene 0 valores duplicados

## C. Data Drifting.

In [28]:
#1. Aplicamos PSI a casi todas las variables, excepto las de no interés.
psi_results = []
for column in train_data.columns:
    if column not in ['foto_mes','numero_de_cliente','clase_ternaria', 'clase_ternaria_1']:
      train_variable = train_data[column]
      score_variable = score_data[column]
      psi_value = psi(train_variable, score_variable)
      psi_results.append({'feature': column, 'psi': psi_value})

psi_df = pd.DataFrame(psi_results)
psi_df = psi_df.sort_values('psi', ascending=False)

/tmp/ipykernel_4333/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
/tmp/ipykernel_4333/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
/tmp/ipykernel_4333/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
/tmp/ipykernel_4333/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
/tmp/ipykernel_4333/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
/tmp/ipykernel_4333/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
/tmp/ipykernel_4333/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
/tmp/ipykernel_4333/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
/tmp/ipykernel_4333/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)

In [12]:
#2. Observamos variables con PSI >= 0.1 (casos a atender).
psi_df[psi_df["psi"] > 0.1]["feature"]

131            Visa_fultimo_cierre
129            Visa_madelantopesos
96                 cmobile_app_trx
101             Master_Finiciomora
30           mprestamos_prendarios
48                       mpayroll2
110          Master_fultimo_cierre
61     mcajeros_propios_descuentos
47                        mpayroll
100            Master_Fvencimiento
67       mcomisiones_mantenimiento
123               Visa_Finiciomora
5             mrentabilidad_annual
6                      mcomisiones
69               mcomisiones_otras
4                    mrentabilidad
22                   mautoservicio
73       mtransferencias_recibidas
7                  mactivos_margen
139               Visa_mpagominimo
133               Visa_mpagospesos
8                  mpasivos_margen
25           mtarjeta_visa_consumo
125               Visa_msaldopesos
75        mtransferencias_emitidas
72       ctransferencias_recibidas
124               Visa_msaldototal
87      chomebanking_transacciones
112             Master_mpagospesos
74        ctransferencias_emitidas
Name: feature, dtype: object

In [29]:
#3. Elimino las columnas con un PSI alto.

# cols_eliminar = list(psi_df[psi_df["psi"] > 0.1]["feature"])
# data.drop(cols_eliminar,axis=1,inplace=True)

# train_data.drop(cols_eliminar,axis=1,inplace=True)
# score_data.drop(cols_eliminar,axis=1,inplace=True)

## D. Ajustes por inflación.

In [30]:
#1. Defino los campos que voy a ajustar por inflación.
campos_monetarios = [col for col in data.columns if col.startswith(('m', 'Visa_m', 'Master_m', 'vm_m'))]

In [31]:
#2. Le aplico la inflación a todas ellas.
data = drift_deflacion(data, campos_monetarios, tb_indices)

inicio drift_deflacion()
fin drift_deflacion()

## E. Exportación.

In [32]:
#1. Exportación propiamente dicha.
data.to_csv(dataset_output,index=False)