In [37]:
# Por ahora, se corre solamente "Configuraciones generales" y "Ajustes por inflación".

## A. Configuraciones generales.

In [20]:
#1. Librerías.
%run "../librerias.ipynb"

In [21]:
#2. Constantes.
%run "../constantes.ipynb"

mes_train = mes_train_all_menos_3
mes_test = mes_test
dataset_output = dataset_file_preprocesado_all_3

In [22]:
#3. Funciones.
%run "../funciones.ipynb"

In [23]:
#4. Lectura de datos.
data = pd.read_csv(dataset_file_clase_ternaria)

## B. Data Quality.

#### 1. Valores nulos.

In [24]:
data

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,clase_ternaria
0,1240628300,202107,1,0,0,50,51,1172.94,17307.65,1448.47,...,3.0,0.0,-6668.65,0.0,1542.0,3528.24,2.0,0.0,457.47,CONTINUA
1,1240628300,202108,1,0,0,50,52,1892.48,17865.81,1609.14,...,6.0,0.0,-6695.34,0.0,1573.0,3528.24,2.0,0.0,457.47,NaN
2,1240628300,202109,1,0,0,50,53,3218.34,19774.86,1659.86,...,1.0,0.0,-6695.34,0.0,1603.0,3528.24,2.0,0.0,457.47,NaN
3,1246392963,201901,1,0,1,28,18,573.56,30361.06,140.73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1246392963,201902,1,0,1,28,19,8910.16,35558.68,145.94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTINUA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4901232,576779507,202102,1,0,0,50,206,2500.58,23220.06,1959.94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTINUA
4901233,576779507,202103,1,0,0,50,207,2923.49,25589.24,2368.61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTINUA
4901234,576779507,202104,1,0,0,50,208,3128.17,27892.07,2637.51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTINUA
4901235,576779507,202105,1,0,0,50,209,2932.37,30012.62,2350.93,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTINUA
4901236,576779507,202106,1,0,0,50,210,2831.62,30625.50,2348.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONTINUA

In [25]:
data['foto_mes'].value_counts()

foto_mes
202109    165644
202108    165442
202107    165152
202106    164876
202105    164623
202104    164090
202103    163685
202102    162646
202101    162026
202012    161526
202011    160742
202010    159731
202009    158371
202008    157058
202007    155764
202006    153757
202005    151261
202004    149872
202003    149356
202002    147109
202001    143966
201912    140661
201911    138667
201910    136682
201909    134314
201908    132664
201907    130724
201906    129186
201905    127659
201904    126996
201903    126436
201902    125799
201901    124752
Name: count, dtype: int64

In [26]:
#a. Evaluamos.
train_data = data[data['foto_mes'].isin(mes_train)]
score_data = data[data['foto_mes'] == mes_test]

train_null_percentage = train_data.isnull().mean() * 100
score_null_percentage = score_data.isnull().mean() * 100

comparison_df = pd.DataFrame({'Train Null Percentage': train_null_percentage, 'Score Null Percentage': score_null_percentage})
comparison_df['diff'] = (comparison_df['Score Null Percentage'] - comparison_df['Train Null Percentage']).abs()

comparison_df_sorted = comparison_df.sort_values('diff', ascending=False)

comparison_df_sorted

,Train Null Percentage,Score Null Percentage,diff
clase_ternaria,0.000000,100.000000,100.000000
cmobile_app_trx,14.308637,0.000000,14.308637
tmobile_app,14.308637,0.000000,14.308637
Master_madelantopesos,60.249957,56.999952,3.250006
Master_mconsumosdolares,60.249957,56.999952,3.250006
...,...,...,...
ctarjeta_visa_debitos_automaticos,0.000000,0.000000,0.000000
mttarjeta_visa_debitos_automaticos,0.000000,0.000000,0.000000
ctarjeta_master_debitos_automaticos,0.000000,0.000000,0.000000
mttarjeta_master_debitos_automaticos,0.000000,0.000000,0.000000
mpayroll,0.000000,0.000000,0.000000

#### 2. Valores 0.

In [27]:
#a. Evaluamos.
train_zero_percentage = (train_data == 0).mean() * 100
score_zero_percentage = (score_data == 0).mean() * 100

comparison_df_zero = pd.DataFrame({'Train Zero Percentage': train_zero_percentage, 'Score Zero Percentage': score_zero_percentage})

comparison_df_zero['diff_zero_percentage'] = (comparison_df_zero['Score Zero Percentage'] - comparison_df_zero['Train Zero Percentage']).abs()
diff_zero_percentage_sorted = comparison_df_zero.sort_values('diff_zero_percentage',ascending=False)

In [28]:
diff_zero_percentage_sorted[(diff_zero_percentage_sorted["diff_zero_percentage"] > 5)]

,Train Zero Percentage,Score Zero Percentage,diff_zero_percentage
internet,44.241900,96.415204,52.173303
tmobile_app,57.745368,97.769916,40.024548
mtransferencias_recibidas,38.546416,23.028302,15.518115
ctransferencias_recibidas,38.546416,23.028302,15.518115
cmobile_app_trx,33.129872,20.250054,12.879818
mtransferencias_emitidas,49.364905,36.531356,12.833549
ctransferencias_emitidas,49.286712,36.530753,12.755959
chomebanking_transacciones,28.582609,16.238439,12.344170
Visa_mconsumosdolares,49.508987,60.553959,11.044972
mactivos_margen,13.700907,4.196953,9.503955
mrentabilidad,9.647188,0.153945,9.493243
mrentabilidad_annual,9.612366,0.139456,9.472910
mcomisiones,12.052439,2.655092,9.397347
mcomisiones_otras,12.043598,2.655092,9.388507
ccomisiones_otras,12.039954,2.653884,9.386070
Visa_msaldodolares,80.489670,71.103692,9.385978
mpasivos_margen,10.595584,1.343846,9.251738
cforex,83.804513,91.580739,7.776226
mautoservicio,35.590461,28.121151,7.469310
ctarjeta_debito_transacciones,35.589471,28.121151,7.468320
ccajas_transacciones,82.786247,90.081742,7.295494
Visa_fultimo_cierre,6.924800,0.000000,6.924800
Master_fultimo_cierre,6.828836,0.000000,6.828836
cforex_sell,85.614655,91.827654,6.213000
mforex_sell,85.614655,91.827654,6.213000
ccallcenter_transacciones,87.595084,93.503538,5.908453
tcallcenter,87.595084,93.503538,5.908453
Visa_mpagado,80.225037,86.071334,5.846297
mtarjeta_master_consumo,64.975967,59.598295,5.377672
ctarjeta_master_transacciones,64.975967,59.598295,5.377672
cprestamos_personales,74.161105,79.442660,5.281556
mprestamos_personales,74.161105,79.442660,5.281556
mttarjeta_visa_debitos_automaticos,37.963341,32.758808,5.204533
ctarjeta_visa_debitos_automaticos,37.963341,32.758808,5.204533

In [29]:
#b. Decidimos eliminar aquellas columnas con un gran cambio en la cantidad de 0 en el mes test.
cols_eliminar = list(diff_zero_percentage_sorted[(diff_zero_percentage_sorted["diff_zero_percentage"] > 5) & (diff_zero_percentage_sorted["Score Zero Percentage"] > diff_zero_percentage_sorted["Train Zero Percentage"])].index)
data.drop(cols_eliminar,axis=1,inplace=True)

train_data.drop(cols_eliminar,axis=1,inplace=True)
score_data.drop(cols_eliminar,axis=1,inplace=True)

/tmp/ipykernel_5624/277921246.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data.drop(cols_eliminar,axis=1,inplace=True)
/tmp/ipykernel_5624/277921246.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  score_data.drop(cols_eliminar,axis=1,inplace=True)

#### 3. Valores <0.

In [30]:
#a. Evaluamos.
train_negative_percentage = (train_data == -1).mean() * 100
score_negative_percentage = (score_data == -1).mean() * 100

comparison_df_zero = pd.DataFrame({'Train Negative Percentage': train_negative_percentage, 'Score Negative Percentage': score_negative_percentage})

comparison_df_zero['diff_negative_percentage'] = (comparison_df_zero['Score Negative Percentage'] - comparison_df_zero['Train Negative Percentage']).abs()
diff_negative_percentage_sorted = comparison_df_zero.sort_values('diff_negative_percentage',ascending=False)

diff_negative_percentage_sorted

,Train Negative Percentage,Score Negative Percentage,diff_negative_percentage
Visa_fultimo_cierre,4.253476,0.000000,4.253476
Master_fultimo_cierre,4.131958,0.000000,4.131958
mcuenta_corriente,0.001890,0.003622,0.001733
Master_Finiciomora,0.000990,0.000000,0.000990
Master_msaldototal,0.003104,0.002415,0.000690
...,...,...,...
mttarjeta_master_debitos_automaticos,0.000000,0.000000,0.000000
cpagodeservicios,0.000000,0.000000,0.000000
mpagodeservicios,0.000000,0.000000,0.000000
cpagomiscuentas,0.000000,0.000000,0.000000
ccuenta_debitos_automaticos,0.000000,0.000000,0.000000

#### 4. Valores duplicados.

In [31]:
#a. Verifico.
print("Train tiene {} valores duplicados".format(train_data.duplicated().sum()))
print("Test tiene {} valores duplicados".format(score_data.duplicated().sum()))

Train tiene 0 valores duplicados
Test tiene 0 valores duplicados

## C. Data Drifting.

In [32]:
#1. Aplicamos PSI a casi todas las variables, excepto las de no interés.
psi_results = []
for column in train_data.columns:
    if column not in ['foto_mes','numero_de_cliente','clase_ternaria', 'clase_ternaria_1']:
      train_variable = train_data[column]
      score_variable = score_data[column]
      psi_value = psi(train_variable, score_variable)
      psi_results.append({'feature': column, 'psi': psi_value})

psi_df = pd.DataFrame(psi_results)
psi_df = psi_df.sort_values('psi', ascending=False)

/tmp/ipykernel_5624/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
/tmp/ipykernel_5624/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
/tmp/ipykernel_5624/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
/tmp/ipykernel_5624/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
/tmp/ipykernel_5624/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
/tmp/ipykernel_5624/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
/tmp/ipykernel_5624/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
/tmp/ipykernel_5624/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
/tmp/ipykernel_5624/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
/tmp/ipykernel_5624/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
/tmp/ipykernel_5624/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)
/tmp/ipykernel_5624/3157422034.py:7: RuntimeWarning: divide by zero encountered in log
  result = (actual_prop - expected_prop) * np.log(actual_prop / expected_prop)

In [33]:
#2. Observamos variables con PSI >= 0.1 (casos a atender).
psi_df[psi_df["psi"] > 0.1]["feature"]

97                 cmobile_app_trx
132            Visa_fultimo_cierre
130            Visa_madelantopesos
61     mcajeros_propios_descuentos
102             Master_Finiciomora
129             Visa_mlimitecompra
124               Visa_Finiciomora
111          Master_fultimo_cierre
30           mprestamos_prendarios
122      Visa_mfinanciacion_limite
47                        mpayroll
48                       mpayroll2
101            Master_Fvencimiento
67       mcomisiones_mantenimiento
5             mrentabilidad_annual
6                      mcomisiones
69               mcomisiones_otras
25           mtarjeta_visa_consumo
4                    mrentabilidad
73       mtransferencias_recibidas
139               Visa_mpagominimo
126               Visa_msaldopesos
133               Visa_mpagospesos
125               Visa_msaldototal
22                   mautoservicio
7                  mactivos_margen
128            Visa_mconsumospesos
136             Visa_mconsumototal
113             Master_mpagospesos
75        mtransferencias_emitidas
106          Master_mconsumospesos
116           Master_mconsumototal
72       ctransferencias_recibidas
8                  mpasivos_margen
74        ctransferencias_emitidas
Name: feature, dtype: object

In [34]:
#3. Elimino las columnas con un PSI alto.

# cols_eliminar = list(psi_df[psi_df["psi"] > 0.1]["feature"])
# data.drop(cols_eliminar,axis=1,inplace=True)

# train_data.drop(cols_eliminar,axis=1,inplace=True)
# score_data.drop(cols_eliminar,axis=1,inplace=True)

## D. Ajustes por inflación.

In [35]:
#1. Defino los campos que voy a ajustar por inflación.
campos_monetarios = [col for col in data.columns if col.startswith(('m', 'Visa_m', 'Master_m', 'vm_m'))]

In [36]:
#2. Le aplico la inflación a todas ellas.
data = drift_deflacion(data, campos_monetarios, tb_indices)

inicio drift_deflacion()
fin drift_deflacion()

## E. Exportación.

In [37]:
#1. Exportación propiamente dicha.
data.to_csv(dataset_output,index=False)